@charset "UTF-8";
.header-section {
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

.wp-block-page-list {
  color: white; }

.actives {
  background-color: var(--wp--preset--color--primary) !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }

.single-itineraries .site-header .topbar-email {
  color: var(--wp--preset--color--background) !important; }

@media screen and (max-width: 999px) {
  .wp-block-navigation__responsive-container,
  .wp-block-navigation__responsive-container .wp-block-navigation__responsive-container-content {
    display: none; }
  .wp-block-navigation__responsive-container-close,
  .wp-block-navigation__responsive-container-open {
    background: var(--wp--preset--color--primary); }
  .wp-block-navigation__responsive-container-close svg,
  .wp-block-navigation__responsive-container-open svg {
    width: 42px;
    height: 42px; }
  .wp-block-navigation__responsive-container-open svg path,
  .wp-block-navigation__responsive-container-close svg path {
    fill: var(--wp--preset--color--white); }
  .wp-block-navigation__responsive-container-close {
    top: -20px;
    right: 20px; }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block; }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none; }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    padding: 1.5em; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container {
    width: 100%;
    gap: 0 !important;
    border-bottom: none; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item {
    width: 100%;
    gap: 0 !important;
    border: none !important; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item a {
    width: calc( 100% - 48px);
    padding: 12px 24px 12px;
    line-height: 30px; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item .wp-block-navigation__submenu-icon {
    display: block !important;
    margin-left: 15px;
    padding: 3px 10px;
    float: right;
    font-size: 19px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
    height: 42px;
    width: 42px; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item .wp-block-navigation__submenu-icon svg {
    display: block;
    width: 30px;
    height: 13px;
    margin: 0 !important;
    padding: 0 !important; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item ul.wp-block-navigation__submenu-container {
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
    display: none;
    box-shadow: none; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item ul.wp-block-navigation__submenu-container li.wp-block-navigation-item a {
    padding-left: 35px; }
  .wp-block-navigation .wp-block-navigation__responsive-container-content ul.wp-block-navigation__container li.wp-block-navigation-item .wp-block-navigation-submenu__toggle[aria-expanded=true] + ul.wp-block-navigation__submenu-container {
    display: block;
    margin: 0;
    padding-left: 30px; } }

.trip-search-main .wptravel-block-trip-search {
  padding: 27px 0px; }

.trip-search-main .wptravel-block-wrapper form p select {
  height: 38px;
  border: none; }

.trip-search-main .wptravel-block-wrapper form p input {
  height: 38px;
  border: none; }

.trip-search-main input {
  height: 38px; }

a span {
  text-decoration: none !important; }

.banner-video {
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.gallery-section-header h2 {
  font-weight: 600; }

@media (max-width: 548px) {
  .wp-block-group
.wp-block-rise-blocks-section.banner-video
.rise-blocks-section-wrapper {
    padding: 305px 1px 150px 0px !important; } }

@media (max-width: 822px) {
  .site-header
.top-bar {
    display: none; } }

/* .rise-blocks-section-inner .wp-block-heading {
  font-size: var(--wp--custom--typography--font-size--huge-post-title);
} */
.right-content
.explore-btn {
  color: white; }
  .right-content
.explore-btn:hover {
    color: black !important; }

/*Breadcrums csss */
.single-itineraries .trail-items {
  display: flex;
  justify-content: center; }

.single-itineraries .trail-item {
  list-style: none;
  padding-left: 20px; }
  .single-itineraries .trail-item a {
    position: relative;
    color: white !important; }
    .single-itineraries .trail-item a::after {
      content: "\00BB";
      position: absolute;
      top: 48%;
      right: -14px;
      transform: translate(0, -50%); }

.adventure-section
.wp-travel-itinerary-items.wptravel-archive-wrapper.grid-view.itinerary-3-per-row
.taxonomy-item-wrapper a img {
  transition: 0.2s; }

.adventure-section
.wp-travel-itinerary-items.wptravel-archive-wrapper.grid-view.itinerary-3-per-row .taxonomy-item-wrapper:hover a img {
  transform: scale(1.1); }

.wp-travel-search
form
label {
  color: white;
  display: none; }

.wp-block-group
.adventure-section
.wp-travel-itinerary-items .taxonomy-item-wrapper {
  margin-bottom: unset; }

.wptravel-layout-v2 .wptravel-archive-wrapper .view-box:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }

.galary-section
.wp-block-column
figure {
  overflow: hidden; }
  .galary-section
.wp-block-column
figure a
img {
    transition: 0.2s; }
    .galary-section
.wp-block-column
figure a
img:hover {
      transform: scale(1.1); }

.travel-fse-trip-section-title
h2 {
  font-weight: 600;
  margin-block-start: var(--wp--preset--spacing--30); }

.travel-fse-trip-section-title
p {
  font-weight: 600;
  opacity: .3;
  letter-spacing: 3px; }

.wp-block-group.sponsors
.slick-list
figure
img {
  width: 128px;
  height: 33px; }

@media (max-width: 991px) {
  .Team figure.wp-block-image img {
    height: 225px !important; } }

@media (max-width: 575px) {
  .Team figure.wp-block-image img {
    height: 225px !important; } }

@media (max-width: 782px) {
  .banner-contact-info
.wp-block-group {
    margin-top: unset !important; } }

.wp-block-group.sponsors
figure {
  display: flex;
  align-items: center;
  justify-content: center; }

@media (max-width: 950px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block; } }

@media (max-width: 950px) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none; } }

@media (max-width: 950px) {
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content,
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item,
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    align-items: flex-start; } }

/*footer email bar*/
.wpcf7-form-control-wrap .wpcf7-email {
  padding: 10px 10px;
  border-radius: 5px 0px 0px 5px;
  height: 42px;
  box-shadow: 0px 0px 20px rgba(33, 33, 33, 0.23);
  border-color: transparent;
  outline: none; }

.mc4wp-form-fields {
  display: flex; }

.mc4wp-form-fields input[type="email"] {
  padding: 10px 10px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 0px 20px rgba(33, 33, 33, 0.23);
  border-color: transparent;
  outline: none; }

.wpcf7-submit,
.mc4wp-form-fields input[type="submit"] {
  width: 30% !important;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--wp--preset--color--primary);
  color: white;
  padding: 8px 6px !important;
  height: 42px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(33, 33, 33, 0.23);
  border-color: transparent;
  outline: none; }

.wpcf7-response-output {
  color: black; }

.footer-email-bar {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0; }
  .footer-email-bar form p {
    display: flex; }

.payment-card figure.wp-block-image img {
  height: unset; }

.site-footer .wp-block-site-logo img {
  filter: brightness(0%) hue-rotate(0deg) saturate(10000%); }

.single
.site-footer
.wp-block-group:first-child
.wp-block-group:first-child
.margin-block-start
.wp-block-group
p {
  margin-block-start: 0.44rem;
  margin-block-end: 0; }

.single
.site-footer .wp-block-spacer {
  margin: 0; }

.view-box .view-content
.right-content {
  margin: 0 !important; }

.view-box .entry-title {
  color: black;
  line-height: unset;
  margin: 0 !important; }
  .view-box .entry-title a {
    font-size: 23px !important;
    font-weight: 600; }

.wp-travel-regular-price-figure, .item-price del {
  color: green; }

.wp-block-button a {
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid;
  border: 1px solid var(--wp--preset--color--primary); }

.wp-travel-search #wp-travel-search {
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid;
  padding: unset; }

.wp-block-search__button {
  background-color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--primary); }

.recent-content {
  opacity: 0.3; }

.wp-travel-form-field
textarea::placeholder {
  text-indent: 10px; }

.wp-travel-form-field input, .wp-travel-form-field select, .wp-travel-form-field textarea {
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f3f6; }

.wpcf7-form-control-wrap input, .wpcf7-form-control-wrap textarea {
  padding: 10px 10px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 0px 20px rgba(33, 33, 33, 0.23);
  border-color: transparent;
  outline: none;
  width: 100%; }

.explore-btn {
  width: 181px !important; }

#wp-travel-booking .wp-travel-radio-group input {
  -webkit-appearance: auto !important; }

.wp-block-search__button.has-icon.wp-element-button {
  height: 52px;
  width: 100px;
  margin: 0;
  padding: unset;
  border-radius: unset; }

.travel-fse-trip-view-more
p
a {
  background-color: var(--wp--preset--color--primary);
  padding: 19px 15px;
  color: white;
  border-radius: 3px;
  border: 1px solid var(--wp--preset--color--primary);
  font-weight: 700; }
  .travel-fse-trip-view-more
p
a:hover {
    color: black;
    background-color: transparent; }

.page-header h1 {
  color: black; }

#page {
  margin-top: 47px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }

.wp-travel-toolbar {
  margin-top: 2em;
  background-color: var(--wp--preset--color--primary); }

.explore-btn {
  border-color: var(--wp--preset--color--primary);
  border-width: 1px 1px 1px 1px;
  border-style: solid; }

.wp_travel_input_filters {
  height: 35px; }

.navbar-section {
  display: flex;
  justify-content: space-between; }

.wp-travel-average-review, .wptravel-price-wrap {
  margin: 20px 0px; }

/*Explore Single page*/
.trip-short-desc p,
.wp-travel-trip-meta-info,
.wp-travel-trip-code,
.tab-list-content.resp-tab-content.resp-tab-content-active,
.wp-travel-related-posts.wp-travel-container-wrap,
.wp-travel {
  color: black; }

.wp-travel-booknow-btn {
  border-radius: 5px;
  background-color: var(--wp--preset--color--primary);
  color: white;
  border-width: 1px 1px 1px 1px;
  border-color: var(--wp--preset--color--primary);
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer; }
  .wp-travel-booknow-btn:hover {
    background-color: transparent;
    color: black; }

.wp-travel-tab-wrapper .wp-travel button.slick-arrow.slick-prev::before,
.wp-travel-tab-wrapper .wp-travel button.slick-arrow.slick-next::before,
.trip-desc p {
  color: black; }

.form-submit.wp-block-button {
  margin-top: 10px; }
  .form-submit.wp-block-button input {
    border: 1px solid var(--wp--preset--color--primary); }

.logged-in-as, .comment-form-comment {
  margin-top: 10px; }

#trip_outline {
  line-height: 40px; }

#faq .wp-collapse-open a {
  border: 1px solid var(--wp--preset--color--primary);
  color: white;
  background-color: var(--wp--preset--color--primary);
  border-radius: 5px; }
  #faq .wp-collapse-open a:hover {
    color: black;
    background-color: transparent; }

.wp-travel-trip-code code,
.offer {
  background: #8a9bdb !important; }

.btn-wp-travel-filter {
  border: 1px solid white;
  color: white;
  background-color: var(--wp--preset--color--primary);
  border-radius: 5px; }
  .btn-wp-travel-filter:hover {
    color: black;
    background-color: white; }

.wp-toolbar-content.wp-toolbar-left {
  margin-bottom: 11px;
  margin-top: 25px;
  padding-right: 6px;
  padding-left: 6px; }

.trip-rating {
  color: black; }

.wp-travel-archive-content.wp-travel-trips-has-sidebar {
  display: flex;
  justify-content: space-between;
  float: unset;
  width: unset !important;
  padding: unset !important; }

@media (max-width: 1000px) {
  #wptravel-archive-wrapper {
    width: 100%; } }

#wp-travel-secondary {
  width: 30%;
  float: unset !important; }
  @media (max-width: 1000px) {
    #wp-travel-secondary {
      width: 100%; } }

.wp-travel-form-field.button-field
#wp-travel-enquiry-submit {
  background-color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--primary); }
  .wp-travel-form-field.button-field
#wp-travel-enquiry-submit:hover {
    background: white;
    color: black; }

#page {
  padding: 0 0.67rem; }

.wp-travel-filter-by-heading
h4 {
  color: white; }

/*categories  section */
.wp-block-categories-list.wp-block-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0; }

.wp-block-categories-list.wp-block-categories li {
  list-style: none;
  padding: 9px; }

.widget-title {
  text-align: center;
  font-size: 31px; }

@media (max-width: 1000px) {
  .wp-travel-archive-content.wp-travel-trips-has-sidebar {
    flex-direction: column; } }

@media (max-width: 1000px) {
  #block-9 {
    width: 62%;
    margin-left: auto;
    margin-right: auto; } }

.entry-header {
  display: flex;
  justify-content: space-between; }
  .entry-header a {
    position: unset !important; }

.wp-block-comments
form
.form-submit.wp-block-button {
  width: 26%; }

.trip-submit
button {
  background: black;
  color: white;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer; }

.archive.tax-activity
.wp-block-template-part
.wp-block-group.alignfull.is-layout-flow {
  position: absolute;
  width: 100%;
  z-index: 99; }

.dashicons-grid-view:before,
.dashicons-list-view:before {
  color: white; }

.archive .wp-block-template-part .wp-block-group.alignfull.is-layout-flow {
  position: absolute;
  width: 100%;
  z-index: 99; }

.trip-list-slider .wptravel-archive-wrapper.grid-view {
  display: flex; }

.trip-list-slider .slick-slide {
  margin: 0 11px; }

.trip-list-slider .slick-list {
  margin: 0 -11px; }

.trip-list-slider .slick-arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 55px;
  border-radius: 50%;
  box-shadow: 0 3px 40px 0 #dbe0e8;
  border: 0 solid transparent;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  bottom: -84px;
  color: transparent;
  font-size: 0;
  transition: all .3s;
  top: -6%; }

.trip-list-slider .slick-prev {
  right: 63px;
  left: unset !important; }

.trip-list-slider .slick-prev:hover {
  background-color: var(--wp--preset--color--primary); }

.trip-list-slider .slick-prev:hover::before {
  color: #fff; }

.trip-list-slider .slick-prev::before {
  content: "" !important;
  color: #000;
  font-weight: 900;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  bottom: 12px;
  right: 6px;
  position: relative; }

.trip-list-slider .slick-next {
  right: 0; }

.trip-list-slider .slick-next:hover {
  background-color: var(--wp--preset--color--primary); }

.trip-list-slider .slick-next:hover::before {
  color: #fff; }

.trip-list-slider .slick-next::before {
  color: #000;
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: 12px;
  right: 6px;
  position: relative; }

.trip-list-slider {
  position: relative; }

.profile-section .slick-arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 55px;
  border-radius: 50%;
  box-shadow: 0 3px 40px 0 #dbe0e8;
  border: 0 solid transparent;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  bottom: -84px;
  color: transparent;
  font-size: 0;
  transition: all .3s;
  top: -13%; }

.profile-section .slick-prev {
  right: 63px;
  left: unset !important; }

.profile-section .slick-prev:hover {
  background-color: var(--wp--preset--color--primary); }

.profile-section .slick-prev:hover::before {
  color: #fff; }

.profile-section .slick-prev::before {
  content: "" !important;
  color: #000;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: 3px;
  right: 0px;
  position: relative; }

.profile-section .slick-next {
  right: 0px; }

.profile-section .slick-next:hover {
  background-color: var(--wp--preset--color--primary); }

.profile-section .slick-next:hover::before {
  color: #fff; }

.profile-section .slick-next::before {
  color: #000;
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  position: relative;
  font-weight: 900;
  bottom: 3px;
  right: 0px; }

.sponsor-section .slick-arrow {
  position: absolute;
  width: 35px;
  height: 35px;
  line-height: 55px;
  border-radius: 50%;
  box-shadow: 0 3px 40px 0 #dbe0e8;
  border: 0 solid transparent;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  bottom: -84px;
  color: transparent;
  font-size: 0;
  transition: all .3s;
  top: -56%; }

.sponsor-section .slick-prev {
  left: unset !important;
  right: 63px; }

.sponsor-section .slick-prev:hover {
  background-color: var(--wp--preset--color--primary); }

.sponsor-section .slick-prev:hover::before {
  color: #fff; }

.sponsor-section .slick-prev::before {
  content: "" !important;
  color: #000;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: 3px;
  right: 0px;
  position: relative; }

.sponsor-section .slick-next {
  right: 0px; }

.sponsor-section .slick-next:hover {
  background-color: var(--wp--preset--color--primary); }

.sponsor-section .slick-next:hover::before {
  color: #fff; }

.sponsor-section .slick-next::before {
  color: #000;
  content: "" !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  bottom: 3px;
  right: 0px;
  position: relative; }

.wc-booster-pro .sponsor-section .slick-prev::before,
.wc-booster-pro .sponsor-section .slick-next::before,
.wc-booster-pro .profile-section .slick-next::before,
.wc-booster-pro .profile-section .slick-prev::before {
  bottom: 11px;
  right: 5px; }

@media (min-width: 992px) {
  .wp-travel-list-view .wptravel-recurring-dates .wptravel-recurring-table-wrapper .wptravel-recurring-table .tbody-table tr td:nth-child(1) {
    width: 409px; } }

@media (max-width: 992px) {
  .wptravel-recurring-table {
    width: 100%; }
  .wp-travel-booking__panel-bottom .right-info .wp-travel-book {
    margin-left: 1rem;
    padding: 10px;
    margin: 0; } }

table, tr {
  border: 2px solid;
  border-color: #8b8b8b;
  border-collapse: collapse; }

element.style {
  display: inlin-block;
  display: inline-block;
  text-align: center;
  /* font-family: public; */
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 16px 35px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  line-height: 16px;
  color: white;
  background: black; }

.wp-travel-list-view .wptravel-recurring-dates .wp-travel-recurring-dates-nav-btns .show-more, .wp-travel-list-view .wptravel-recurring-dates .wp-travel-recurring-dates-nav-btns .next {
  float: right; }

.wp-travel-list-view .wptravel-recurring-dates .wp-travel-recurring-dates-nav-btns button {
  display: inline-block;
  text-align: center;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 16px 35px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  line-height: 16px;
  color: white;
  background: black;
  border: 1px solid black; }
  .wp-travel-list-view .wptravel-recurring-dates .wp-travel-recurring-dates-nav-btns button:hover {
    background-color: transparent;
    color: black; }

.checkout-page-wrap {
  padding: 0 0.67rem; }

.checkout-accordion .panel-title a {
  background-color: var(--wp--preset--color--primary);
  color: white !important; }

.wp-travel-form-field input::placeholder,
.wp-travel-form-field select::placeholder {
  padding-left: 5px; }

.payment-content h1 {
  font-size: clamp(2rem, 3vw, 3.8rem);
  font-family: oswald;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 14px; }

#shopping-cart {
  border: 1px solid var(--wp--preset--color--primary); }

.wp-travel-form-field.button-field #wp-travel-book-now {
  background-color: var(--wp--preset--color--primary);
  color: white;
  border: 1px solid var(--wp--preset--color--primary);
  border-radius: 4px; }
  .wp-travel-form-field.button-field #wp-travel-book-now:hover {
    background-color: transparent;
    color: black; }

.cart-item-items a,
.edit-trip a {
  color: white;
  background: var(--wp--preset--color--primary);
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--wp--preset--color--primary); }
  .cart-item-items a:hover,
  .edit-trip a:hover {
    background-color: transparent;
    color: black; }

#shopping-cart .cart-summary .cart-header .title svg path {
  fill: var(--wp--preset--color--primary); }

.wp-travel-book,
.wp-travel-booking__header button {
  background: var(--wp--preset--color--primary);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid var(--wp--preset--color--primary) !important; }
  .wp-travel-book:hover,
  .wp-travel-booking__header button:hover {
    background: transparent;
    color: black; }

.wp-travel-booking__header button button svg path {
  fill: white; }

.wp-travel-booking__header button:hover button svg path {
  fill: black; }

.wp-travel-calendar-view
.wp-travel-booking__datepicker-wrapper
.react-datepicker-wrapper
.react-datepicker__input-container
.wp-travel-date-picker-btn
span,
.qty-spinner button {
  background-color: var(--wp--preset--color--primary);
  color: white; }

.entry-content .wp-travel .dashboard-tab {
  display: inline-block !important; }

.wp-travel.trip-headline-wrapper .wptravel-book-your-trip {
  padding: 12px 15px; }

.checkout-accordion .panel-heading a.accordion-toggle.collapsed .collapse-icon {
  margin-top: 3px; }

.checkout-page-wrap .wp-travel-form-field label,
.wp-travel-enquiries-form .wp-travel-form-field label,
.panel-heading .panel-title {
  font-weight: 700; }

.wp-travel-form-field label br {
  display: none; }

.wp-travel
.checkout-page-wrap
.wp-travel-form-field.wp-travel-radio-group
.wp-travel-radio {
  display: flex;
  flex-wrap: wrap; }

#wp-travel-authorizenet {
  background: black;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px; }
  #wp-travel-authorizenet:hover {
    background-color: transparent;
    color: black; }

.checkout-page-wrap
.wp-travel-checkout-section
.checkout-left
.ws-theme-timeline-block
.panel-body {
  padding: 5px 15px; }

.entry-content .wp-travel .checkout-page-wrap .ws-theme-timeline-block,
.wp-travel-enquiries-form .ws-theme-timeline-block {
  margin: 0 0 40px;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 30px; }

.wp-travel-form-field.wp-travel-enquiry-subscribe-section br {
  display: none; }

.checkout-page-wrap .wp-travel-form-field {
  margin: 10px 0px; }

.checkout-page-wrap .wp-travel-form-field.wp-travel-radio-group label {
  width: 50%; }

@media (max-width: 992px) {
  #wp-travel-booking .wp-travel-radio-group input {
    margin: 5px 4px 0 0; } }

.wp-travel
.checkout-page-wrap
.wp-travel-checkout-section
.panel-group
.payment-content {
  padding: unset; }

.form .login-form span.user-username:before,
.form .login-form span.user-password:before {
  top: 27px; }

.form .user-username input[type="text"] {
  border: unset; }

.form .user-password input[type="password"] {
  border: unset; }

.login-form p button, .wp-travel-Button.button, #wp-travel-tab-content-bookings .my-order .book-more a {
  padding: 5px 41px;
  background: black;
  color: white;
  border-radius: 4px;
  border: 1px solid black; }
  .login-form p button:hover, .wp-travel-Button.button:hover, #wp-travel-tab-content-bookings .my-order .book-more a:hover {
    background-color: transparent;
    color: black; }

.login-logo {
  display: none; }

.dashboard-tab ul.resp-tabs-list li.resp-tab-active {
  color: black;
  background-color: white; }

.dashboard-tab ul.resp-tabs-list li {
  background-color: black;
  color: white; }

.form-horizontal
.form-group input, .form-horizontal
.form-group select {
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.23);
  border-color: transparent;
  outline: 0;
  width: 100%; }

.entry-content
.wp-travel {
  padding: 0 0.67rem; }

.onoffswitch-label {
  width: 80px; }

.onoffswitch-switch {
  position: unset; }

.onoffswitch-inner {
  display: unset; }

.dashboard-tab .box-actions a.change-password {
  background: black;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 1px solid black; }
  .dashboard-tab .box-actions a.change-password:hover {
    background-color: transparent;
    color: black; }
  .dashboard-tab .box-actions a.change-password br {
    display: none; }

.box-actions {
  margin-top: 70px; }

.action.edit.dashtab-nav {
  display: flex; }
  .action.edit.dashtab-nav span {
    margin-left: 3px; }

.wt-icon.wt-icon-pencil-alt {
  margin-top: 8px; }

.dashboard-tab .list-item {
  margin-top: 10px; }

.cart-summary
ul.cart-summary-content
li .trip-name h5 a,
#shopping-cart .cart-summary .cart-header .title {
  font-size: 16px; }
